<!--including html boilerplate (header)-->
<%- include("partials/header") %> 

<h1>This is the Login Page</h1>


<form action="/login" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>Log-in</button>
</form>

<!--including html boilerplate (footer)-->
<%- include("partials/footer") %> 